<div class="col-lg-4">
  <h3>{{title}}</h3>
  <div class="sidebar-admin">
    <ul class="nav nav-pills nav-stacked nav-pills-stacked-example">
      <li class="presentation" [routerLinkActive]="['active']">
        <a [routerLink]="['enviar']">Enviar mensaje</a>
      </li>
      <li class="presentation" [routerLinkActive]="['active']">
        <a [routerLink]="['recibidos',1]">Mensajes recibidos</a>
      </li>
      <li class="presentation" [routerLinkActive]="['active']">
        <a [routerLink]="['enviados',1]">Mensajes enviados</a>
      </li>
      <li class="presentation" [routerLinkActive]="['active']">
        <a [routerLink]="['/home']">Informacion</a>
      </li>
    </ul>
  </div>
</div>

<div class="col-lg-8">
  <router-outlet></router-outlet>
</div>